.ui.main.container.stackable.grid.centered
  - if @user
    %h2
      Welcome back,
      = @user.name
    -# FRONTPAGE UI
    .row
      .ten.wide.column#user-calendar
        .row
          %h3 Lessons follow-up
      .six.wide.column#new-event-form
        .row
          %h3 Notifications
  - else
    .ten.wide.column#landing-page
      %h1
        Welcome to Tutor's Helper
      %p LANDING PAGE COPY
