.ui.main.container.stackable.grid.centered
  %h2
    Welcome back,
    = @user.name

  .row
    .ten.wide.column#user-calendar
      .row
        %h3 Lessons follow-up
    .six.wide.column#new-event-form
      .row
        %h3 Notifications
