- if @user != nil && @user.admin
  .ui.main.container.stackable.grid.centered
    %h2
      Welcome back,
      = @user.name
    -# FRONTPAGE UI
    .row
      .ten.wide.column#user-calendar
        .row
          %h3 Lessons follow-up
      .six.wide.column#notifications
        .row
          %h3 Notifications
- else
  -# Default to Landing Page
  .ui.main.container.stackable.grid.centered
    .ten.wide.column#landing-page
      %h1
        Welcome to Tutor's Helper
      %p LANDING PAGE COPY
