- flash.each do |key, value|
  %div{:class => "message ui #{key}", :id => "flash_message"}
    %i.close.icon
    = value

:javascript
  $('.message .close').on('click', function() {
    $(this)
    .closest('.message')
    .transition('fade')
    ;
  })
