%h2
  Welcome back,
  = @user.name

.ui.main.container.stackable.grid.centered
  = month_calendar events: @lessons do |date, lessons|
    = date.to_formatted_s(:short)
    - lessons.each do |lesson|
      %h4
        Lesson
        = lesson.start_time.to_formatted_s(:short)
