/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "semantic-ui";

body {
  background-color: #FBF7F0;
  color: #283C46;
  font-family: 'Hind', sans-serif;
}
p, td, tr, th, a, #flash-message {
  font-size: 1.2rem;
}
h4 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.6rem;
}
h2 {
  font-size: 1.8rem;
}



.calendar-full-height {
  height: 500px;
}

.space-out {
  width: 30vw;
}

p.marginless {
  margin: 0;
}

.tinytext {
  font-size: 0.9rem;
}

// Modifying Semantic UI
.ui.menu {
  border-radius: none;
}
.ui.label.calendar {
  padding: 0.4em 0.3em;
  border-radius: 0;
}
.ui.checkbox label {
  cursor: pointer;
}

// Simple_calendar Gem
.simple-calendar {
  .day {}

  .wday-0 {}
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {}

  .today {
    background-color: #FDF9E4;
  }
  .past {}
  .future {}
  .start-date {}

  .prev-month {}
  .next-month { }
  .current-month {}

  .has-events {

  }
}

// Table
.cell-dim {
  background-color: #e0e0e0;
}
.disabled {
  a {
    color: grey;
  }
}

.ui.table {
  border-collapse: collapse;
}
.ui.table td {
  padding: 6px;
}
